# Multiplayer sandbox network profile
net_default_mode=1
net_listen_enabled=1
net_dedicated_enabled=1
net_hybrid_enabled=1
net_max_peers=256
net_server_tick=125
net_bot_capacity=64
net_sim_delay_ms=80
net_sim_jitter_ms=20
net_sim_loss_pct=3
